#header > ul {
	float: right;
}

@media only screen and (max-width: 600px) {
	#body {
		text-align: center;
	}

	#header {
		height: 100px;
		padding-top: 20px;
	}

	#header > ul {
		float: none;
	}
}
